div {
    padding: 70px 100px;
    background-color: rgba(245, 245, 245, 0.4);
  }

  .card {
    border: none;

    background-color: rgba(245, 245, 245, 0.4);
}
 .intro{
     background-color:  rgba(245, 245, 245, 0.4);
 }